/* MISC */
/* SPACINGS */
/* FONT-SIZES */
/* COLORS MAP AND VARIABLE*/
/* FONT-FAMILY  MAP AND VARIABLE*/
/* NORMALIZE */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(./../IMG/FONDO.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0.6); }

ul {
  list-style-type: none; }

a {
  font-family: "montserrat", sans-serif;
  text-decoration: none;
  color: #1a1a1a; }

img {
  width: 100%; }

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 5em;
  text-align: center;
  padding: 10px;
  background-color: rgba(182, 147, 82, 0.6); }

/* mixing */
/* PARTIALS */
.navbar {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, rgba(182, 147, 82, 0.5), rgba(182, 147, 82, 0.3), transparent);
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-between;
  align-items: flex-end; }
  .navbar .navbar-brand {
    align-items: flex-end;
    justify-content: space-between; }
  .navbar .collapse .navbar-collapse .nav {
    justify-content: space-evenly; }
  .navbar .nav__principal {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.5em; }
    .navbar .nav__principal a {
      text-decoration: none;
      color: #1a1a1a; }
    .navbar .nav__principal li a:hover {
      border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
      transition: .1s; }
    .navbar .nav__principal .logo__link:hover {
      background-color: transparent;
      border-bottom: none; }
    .navbar .nav__principal .nav__usuario ul {
      display: none;
      position: absolute;
      background-color: #bfab83;
      border-radius: 15px; }
    .navbar .nav__principal .nav__usuario:hover ul {
      display: flex;
      gap: 24px;
      padding: 15px; }
    .navbar .nav__principal .nav__usuario .form__input {
      font-size: 0.8em; }
      .navbar .nav__principal .nav__usuario .form__input input {
        background: rgba(0, 0, 0, 0.15);
        border: rgba(0, 0, 0, 0.15) 1px solid;
        border-radius: 15px;
        outline: none;
        font-size: white;
        color: white; }
        .navbar .nav__principal .nav__usuario .form__input input:active {
          background: transparent; }
        .navbar .nav__principal .nav__usuario .form__input input:focus {
          background: transparent; }
      .navbar .nav__principal .nav__usuario .form__input .input__button {
        background-color: transparent;
        padding: 5px;
        border: rgba(0, 0, 0, 0.15) 1px solid;
        border-radius: 15px; }
  .navbar .nav__logo .logo__link img {
    width: 250px;
    height: 250px;
    padding-top: 25px; }
  .navbar .menu-producto {
    display: none;
    position: absolute;
    background-color: #bfab83;
    border-radius: 15px;
    padding: 15px; }
    .navbar .menu-producto ul {
      padding: 0; }
    .navbar .menu-producto :hover {
      display: block; }

.footer .footer__h4 {
  margin-top: 2.5rem;
  text-align: center;
  font-family: "barlow", sans-serif, sans-serif;
  font-size: 18px;
  background-color: rgba(182, 147, 82, 0.6);
  height: auto; }

.footer .footer__container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, rgba(182, 147, 82, 0.6), transparent);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px; }
  .footer .footer__container .footer__copy {
    display: flex;
    flex: 1;
    color: white;
    justify-content: center; }
  .footer .footer__container .footer__social {
    display: flex;
    align-items: center;
    gap: 45px;
    flex: 1;
    padding-left: 35px;
    padding-right: 35px; }
    .footer .footer__container .footer__social img {
      width: 30px; }
  .footer .footer__container .footer__fiscal {
    display: flex;
    flex: 1;
    justify-content: center; }
    .footer .footer__container .footer__fiscal a img {
      width: 100px; }

/* VIEWS */
.container_main {
  margin: 0 5rem;
  font-family: "barlow", sans-serif;
  text-align: center;
  display: flex;
  gap: 2.5rem;
  font-size: 1.5em; }
  .container_main img {
    margin-top: 1rem;
    width: 297px;
    border-radius: 1.5rem; }
  .container_main .main__producto {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 1.5rem; }
    .container_main .main__producto p {
      text-align: center;
      color: white;
      padding: 1rem 1.5rem; }
    .container_main .main__producto h2 {
      width: 100%;
      background-color: rgba(182, 147, 82, 0.35);
      color: #c9c5af;
      font-family: "montserrat", sans-serif; }

/* NOSOTROS */
.nosotros_container {
  display: flex;
  margin: 2.5rem;
  font-family: "barlow", sans-serif;
  color: white;
  font-size: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .nosotros_container p {
    width: 65%; }
  .nosotros_container img {
    border-radius: 15px; }
  .nosotros_container .container__sofia, .nosotros_container .container__anto {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2.5rem;
    border-radius: 15px;
    margin-bottom: 1.5rem; }
  .nosotros_container .container__anto {
    text-align: right;
    justify-content: flex-end;
    margin-top: 1.5rem; }

.container_main {
  margin: 1.5rem 5rem;
  font-family: "barlow" sans-serif;
  text-align: center;
  display: flex;
  gap: 2.5rem;
  font-size: "barlow" sans-serif; }
  .container_main img {
    margin-top: 1rem;
    width: 297px;
    border-radius: 1.5rem; }
  .container_main .main__producto {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 1.5rem; }
    .container_main .main__producto p {
      text-align: center;
      color: white;
      padding: 1rem 1.5rem; }
    .container_main .main__producto h2 {
      width: 100%;
      background-color: rgba(182, 147, 82, 0.35);
      color: #c9c5af;
      font-family: "montserrat" sans-serif;
      padding-top: 5px;
      padding-bottom: 15px; }

/* NUEVO USUARIO */
.form_container {
  margin: 5rem 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  font-size: 50px; }
  .form_container .form {
    min-width: 320px;
    flex: 2;
    text-align: center;
    padding: 2.5rem;
    order: 2;
    font-size: 0.4em; }
    .form_container .form textarea {
      min-height: 100px; }
    .form_container .form .form_input input {
      width: 100%;
      padding: 7px;
      margin: 9px 0px;
      border: none;
      border-bottom: 3px solid rgba(182, 147, 82, 0.6);
      background: transparent;
      color: white;
      outline: none; }
      .form_container .form .form_input input:focus {
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15)); }
      .form_container .form .form_input input [type="submit"] {
        background: rgba(0, 0, 0, 0.5);
        border-bottom: none;
        padding: 10px;
        transition: 2s;
        min-width: 100%; }
      .form_container .form .form_input input [type="submit"]:hover {
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); }
      .form_container .form .form_input input [type="submit"]:focus {
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15)); }
      .form_container .form .form_input input [type="submit"]:active {
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15)); }
  .form_container .form_img {
    flex: 1;
    display: flex;
    min-width: 230px;
    order: 1; }
    .form_container .form_img img {
      width: 65%;
      margin: auto; }

/* ALMOHADONES */
.container_main {
  margin: 1.5rem 5rem;
  font-family: "barlow" sans-serif;
  text-align: center;
  display: flex;
  gap: 2.5rem;
  font-size: "barlow" sans-serif; }
  .container_main img {
    margin: 1rem auto;
    border-radius: 1.5rem;
    width: 297px; }
  .container_main .main__producto {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 1.5rem; }
    .container_main .main__producto p {
      text-align: center;
      color: white;
      padding: 1rem 1.5rem; }
    .container_main .main__producto h2 {
      width: 100%;
      background-color: rgba(182, 147, 82, 0.35);
      color: #c9c5af;
      font-family: "montserrat" sans-serif; }

/* TAPICES */
.container_main {
  margin: 1.5rem 5rem;
  font-family: "barlow" sans-serif;
  text-align: center;
  display: flex;
  gap: 2.5rem;
  font-size: "barlow" sans-serif; }
  .container_main img {
    margin-top: 1rem;
    width: 297px;
    border-radius: 1.5rem; }
  .container_main .main__producto {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 1.5rem; }
    .container_main .main__producto p {
      text-align: center;
      color: white;
      padding: 1rem 1.5rem; }
    .container_main .main__producto h2 {
      width: 100%;
      background-color: rgba(182, 147, 82, 0.35);
      color: #c9c5af;
      font-family: "montserrat" sans-serif;
      padding-top: 5px;
      padding-bottom: 15px; }

/* MEDIA QUERIES */
/*NAV MEDIAQ */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.5em; }
  .nav__principal {
    font-size: 1.5em;
    gap: 70px; } }

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 1.5rem; }
    .nav .nav__principal {
      padding: 0;
      font-size: 2em; }
  h1 {
    font-size: 2.5em; } }

/* FOOTER MEDIAQ */
@media screen and (max-width: 470px) {
  .footer__social {
    flex-direction: column;
    gap: 1.5rem; }
  .footer__social img {
    width: 25px; }
  .footer__fiscal {
    width: 10%; }
  .footer__copy {
    width: 10%; } }

/* NOSOTROS MEDIAQ */
@media screen and (max-width: 1424px) {
  .nosotros_container {
    padding: 0;
    font-size: 1.5em; }
  .container__anto {
    justify-content: space-around;
    text-align: center;
    padding: 1rem; }
  .container__sofia, .nosotros_container .container__anto {
    padding: 1rem;
    justify-content: space-around;
    text-align: center; }
  .container__anto .anto__img {
    order: -10; } }

/* MAIN PRODUCTOS GRAL. MEDIA Q*/
@media screen and (max-width: 1255px) {
  .container_main {
    flex-wrap: wrap;
    margin: 10px 0px; }
  .nosotros_container p {
    width: 95%; }
  .main__producto {
    padding: 0; } }

/* FORMULARIO */
@media screen and (max-width: 768px) {
  .nav__usuario .usuario__form {
    display: none; } }

@media screen and (max-width: 320px) {
  .form_container {
    margin: 1.5rem 1rem; }
  .form_img {
    padding-top: 1rem; }
  .nav__usuario .usuario__form {
    display: none; } }
