.footer{
    .footer__h4 {
        text-align: center;
        font-family: $font-principal , sans-serif;
        font-size: 18px;
        background-color: $primary;
        height: auto;
    }
    .footer__container {
        display: flex;
        align-items: center;
        background-image: linear-gradient(to top, $primary, transparent );
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 12px;

        .footer__copy {
            display: flex;
            flex: 1;
            color: $text-p;
            justify-content: center;
        }

        .footer__social {
            display: flex;
            align-items: center;
            gap: 45px;
            flex: 1;
            padding-left: 35px;
            padding-right: 35px;
        }
        .footer__fiscal{ 
            display: flex;
            flex: 1;
            justify-content: center;
                a img{
                width: 100px;
                }
        }
    }
    
}