.nav{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    
    background-image: linear-gradient(to bottom, rgba(182, 147, 82, 0.5), rgba(182, 147, 82, 0.3), transparent);
    padding-left: $spacing-large;
    padding-right: $spacing-large;
    
        .nav__principal{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;
            gap: $spacing-large;
            font-family: $font-title;
            font-weight: bold;
            font-size: $text-medium;
            padding: 0!important;
                a{
                text-decoration: none;
                color: $text-a;    
                }
                li a:hover{
                    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
                    transition-timing-function: ease-in-out;
                    transition: .2s;
                    
                }
                .logo__link:hover{
                    background-color: transparent;
                    border-bottom: none;
                }
                .nav__usuario{ 
                    ul {
                    display: none;
                    position: absolute;
                    background-color: rgb(182, 147, 82);
                    color: $text-p;
                    border-radius: 15px;
                    }
                    &:hover ul {
                        display: flex;
                        gap: 24px;
                        padding: 15px;
                    }
                    .form__input {
                        font-size: $text-xsmall;
                        input{
                            background: $alternative;
                            border: $alternative 1px solid;
                            border-radius: 15px;    
                            outline: none;
                            font-size: $text-p; 
                            color: $text-p;
                                &:active{
                                    background: transparent;
                                }
                                &:focus{
                                    background: transparent;
                                }
                        }
                        .input__button{
                            background-color:transparent;
                            padding: 5px;
                            border: $alternative 1px solid;
                            border-radius: 15px;
                            color: $text-p;
                        }
                    }

                }
                
        }
        .nav__logo {
            flex-grow: 10;
            flex-wrap: wrap;
            text-align: center;
            
            img{
            width: 250px;
            padding-top: 25px;        
            }
        }  
}