.nav{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgba(182, 147, 82, 0.5), rgba(182, 147, 82, 0.3), transparent);
    padding-left: $spacing-large;
    padding-right: $spacing-large;
    justify-content: space-evenly;
        .nav__button{
            color: $text-p;
            font-size: $text-large;
            background-color: transparent;
            border: none;
            padding: 0 $spacing-small;
            display: none;
            align-items: center;
        }
        .nav__principal{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: $spacing-large;
            font-family: $font-title;
            font-weight: bold;
            font-size: $text-medium;
                a{
                text-decoration: none;
                color: $text-a;    
                }
                li a:hover{
                    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
                    transition: .1s;
                }
                .logo__link:hover{
                    background-color: transparent;
                    border-bottom: none;
                }
                .nav__productos {
                    ul{
                        display: none;
                        position: absolute;
                    }
                    .nav__productos:hover ul {
                        display: flex;
                        gap: 24px;
                        padding-top: 15px;    
                    }                    
                 }
                .nav__usuario{ 
                    ul {
                    display: none;
                    position: absolute;
                    }
                    &:hover ul {
                        display: flex;
                        gap: 24px;
                        padding: 15px;
                    }
                    .form__input {
                        font-size: $text-xsmall;
                        input{
                            background: rgba(182, 147, 82, 0.2);
                            border: none;    
                            outline: none;
                            font-size: $text-p; 
                                &:active{
                                    background: transparent;
                                }
                                &:focus{
                                    background: transparent;
                                }
                        }
                        .input__button{
                            background-color:transparent;
                            border: $primary 1px solid;
                            border-radius:15px;
                        }
                    }

                }
                .nav__carrito img{
                    width: 30px;
                }
                
        }
        .nav__logo img{
            width: 250px;
            padding-top: 25px;        
        }
        
}