.container_main {
    margin: $spacing-small $spacing-large;
    font-family: map-get($font-family,principal );
    text-align: center;
    display: flex;
    gap: $spacing-medium;
    font-size: map-get($font-family, principal);
        img{
            margin-top: $spacing-xsmall;
            width: 297px;
            border-radius: $spacing-small;
        }
        .main__producto {
            @include container-prod(100%, map-get($Colors,secondary), flex, column, wrap, $spacing-small, $spacing-small);
                p {
                    text-align: center;
                    color: map-get($Colors, text-p);
                    padding: $spacing-xsmall $spacing-small;
                }
                h2 {
                    width: 100%;
                    background-color: map-get($Colors, h2);
                    color: map-get($Colors, text-h2);
                    font-family: map-get($font-family , title );
                    padding-top: 5px;
                    padding-bottom: 15px;
                }
        }
}