/* NOSOTROS */

.nosotros_container{
    display:flex;
    padding: $spacing-large;
    font-family: $font-principal;
    color: $text-p;
    font-size: $text-small;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
        p{
            width: 65%;
        }
        img{
            border-radius: 15px;
        }
        .container__sofia{
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-small;
            background-color: $secondary;
            padding: $spacing-medium;
            border-radius: 15px;
        }
        .container__anto{            
            @extend .container__sofia;           
            text-align: right;
            padding: $spacing-medium;
            justify-content: flex-end;            
        }
}