/* NOSOTROS */

.nosotros_container{
    display:flex;
    padding: var(--spacing-large);
    font-family: var(--font-principal);
    color: rgb(255, 255, 255);
    font-size: var(--text-small);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
        p{
            width: 65%;
        }
        img{
            border-radius: 15px;
        }
        .container__sofia{
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-small);
            background-color: var(--secondary);
            padding: var(--spacing-medium);
            border-radius: 15px;
        }
        .container__anto{
            display: flex;
            flex-wrap: wrap;
            background-color: var(--secondary);
            gap: var(--spacing-small);
            text-align: right;
            padding: var(--spacing-medium);
            justify-content: flex-end;
            border-radius: 15px;
        }
}