.container_main {
    margin: 0 $spacing-large;
    font-family: $font-principal;
    text-align: center;
    display: flex;
    gap: $spacing-medium;
    font-size: $text-small;
        img{
            margin-top: $spacing-xsmall ;
            width: 297px;
            border-radius: $spacing-small;
        }
        .main__producto {
            @include container-prod(100%, map-get($Colors,secondary), flex, column, wrap, $spacing-small, $spacing-small);
            // width: 100%;
            // background-color: $secondary;
            // display: flex;
            // flex-direction: column;
            // flex-wrap: wrap;
            // padding: $spacing-small;
            // border-radius: $spacing-small;
                
                p {
                    text-align: center;
                    color: $text-p;
                    padding: $spacing-xsmall $spacing-small;
                }
                h2 {
                    width: 100%;
                    background-color: rgba(182, 147, 82, 0.35);
                    color: rgb(201, 197, 175);
                    font-family: $font-title;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
        }
}