/*NAV MEDIAQ */

@media screen and (max-width: 320px) {
    h1{
        font-size: $text-medium;
    }    
    .nav__principal{
        flex-wrap: wrap;
        font-size: $text-xsmall;
        gap: 60px;
    }
}

@media screen and (max-width:425px) {
    .nav{
        .nav__principal{
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 4;
            text-align: center;
            font-size: $text-base;
            
        }
       
        .nav__logo{
            text-align: center;
        }
    }

    h1 {
        font-size: 3em;  
        }
    
}

@media screen and (max-width:768px) {
    .nav{
        .nav__principal{
            flex-wrap: wrap;
            padding: 0;
            font-size: $text-base;
        }
        .nav__logo{
            text-align: center;
        }
    }
    h1 {
            font-size: 3em;  
        }
    
}

/* FOOTER MEDIAQ */

@media screen and (max-width:470px) {
    .footer__social{
        flex-direction: column;
        gap: $spacing-small;
    }
    
    .footer__social img{
        width: 25px;
    }

    .footer__fiscal {
        width: 10%;
    }
    .footer__copy{
        width: 10%
    }
}

/* NOSOTROS MEDIAQ */
@media screen and (max-width: 1024px) {
    .nosotros_container{
        padding: 0;
        font-size: $text-small;
        text-align: center;
        .container__anto{
            justify-content:center;
            text-align: center;
            padding: $spacing-xsmall;
            .anto__img{
                order: -10;
            }
        }
        .container__sofia{
            padding: $spacing-xsmall;
            justify-content:space-around;
            text-align: center;
        }
    
    }
    
    
    

    
    
}

/* MAIN PRODUCTOS GRAL. MEDIA Q*/
@media screen and (max-width: 1255px){
    .container_main {
        flex-wrap: wrap;
        margin: 10px 0px;
    }
    .nosotros_container p{
        width: 95%;
    }

    .main__producto{
        padding: 0;
    }
    
}

/* FORMULARIO */

@media screen and (max-width: 768px) {
    .nav__usuario{
        .usuario__form{
            display: none;
        }
    
    }
    
}

@media screen and (max-width: 320px){
    .form_container{
        margin: $spacing-small $spacing-xsmall;
    }
    .form_img{
        padding-top: $spacing-xsmall;
    }
    .nav__usuario{
        .usuario__form{
            display: none;
        }
    }

}

