/* NORMALIZE */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image:url(./../IMG/FONDO.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(0.6);
}

ul {
    list-style-type: none;
}

a{
    font-family: $font-title;
    text-decoration: none;
    color: $text-a;
}

img{
    width: 100%;
}

h1 {
    font-family: $font-title;
    font-size: $text-large;
    text-align: center;
    padding: 10px;
    background-color: $primary;
}

