
/* COLORS */

    $primary: rgba(182, 147, 82, 0.6);
    $secondary: rgba(0, 0, 0, 0.5);
    $alternative: rgba(0, 0, 0, 0.15);
    $text-p: rgb(255, 255, 255);
    $text-a: #1a1a1a;

    /* SPACINGS */

    $spacing-large: 5rem;
    $spacing-medium: 2.5rem;
    $spacing-small: 1.5rem;
    $spacing-xsmall: 1rem;

    /* FONT-FAMILY */

    $font-principal: 'barlow', sans-serif;
    $font-title:'montserrat', sans-serif;

    /* FONT-SIZES */

    $text-large: 5em;
    $text-medium: 2.5em;
    $text-base: 2em;
    $text-small: 1.5em;
    $text-xsmall:.8em;
 